@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
  --my-shadow: 0 0 .880517px rgba(0,0,0,.029),0 0 2.29197px rgba(0,0,0,.03),0 0 5.52px rgba(0,0,0,.054),0 0 11px rgba(0,0,0,.09);
}

@theme {
  --color-primary: #3D52A0;
  --color-secondary: #7091E6;
  --color-value1: #8697C4;
  --color-value2: #ADBBDA;
  --color-value3: #EDE8F5;
  --color-success: #4CAF50;
  --color-danger: #FF6B6B;
  --color-info: #00B8D9;
  --color-accent: #F4D06F;

}

/* @layer base {
  h1  {
    @apply text-2xl
  }
} */

@layer components {

  .card-1 {
    @apply w-35 h-35 bg-white p-5 rounded-3xl
  }

  .top-head{
    @apply w-[95%] h-[65vh] bg-black mt-5 flex justify-center items-center  rounded-[20]
  }
}